@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Caesar Dressing";
    src: url("/fonts/CaesarDressing.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .stone-card {
    @apply bg-gray-300 relative rounded-xl p-6 text-gray-800 shadow-lg;
    background: linear-gradient(145deg, #d1d5db, #9ca3af);
    border-radius: 20px;
    box-shadow: 
      -8px -8px 16px rgba(255, 255, 255, 0.7), 
      8px 8px 16px rgba(0, 0, 0, 0.2), 
      inset -4px -4px 6px rgba(255, 255, 255, 0.4), 
      inset 4px 4px 6px rgba(0, 0, 0, 0.15);
    clip-path: polygon(
      5% 10%, 90% 5%, 95% 50%, 80% 90%, 
      20% 95%, 10% 60%, 15% 15%
    );
    position: relative;
    overflow: hidden;
  }

  .stone-card::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 15%;
    width: 70%;
    height: 5px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), transparent);
    border-radius: 50%;
    transform: rotate(-5deg);
    box-shadow: 
      0px 0px 6px rgba(0, 0, 0, 0.1), 
      inset 0px 0px 3px rgba(255, 255, 255, 0.3);
  }

  .stone-card::after {
    content: '';
    position: absolute;
    bottom: 15%;
    right: 20%;
    width: 40%;
    height: 4px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), transparent);
    border-radius: 50%;
    transform: rotate(10deg);
    box-shadow: 
      0px 0px 6px rgba(0, 0, 0, 0.1), 
      inset 0px 0px 3px rgba(255, 255, 255, 0.3);
  }

  .stone-card-title {
    @apply font-bold text-xl relative z-10;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  }

  .stone-card-text {
    @apply mt-4 text-gray-700 relative z-10;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }
}
